{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
		label{
        color: #005eb8;
      }
      .img-logo{
          width: 188px;
          margin-top: 10px;
          margin-bottom: 10px;
      }
    </style>


    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--<link rel="stylesheet" type="text/css" href="{% static '/' %}"> -->



</head>
<body>

    <nav class="navbar bg-faded" style="background-color: white;">
  <div class="container-fluid">

    <ul class="nav navbar-nav navbar-logo mx-auto">
      <li class="nav-item">
        <a style="padding-left: 80px;" href="{% url 'home' %}"><img class="img-logo" src="https://uangteman.com/assets/frontend/statics/v4/images/rebranding/logo_rebranding.png" alt="Money friend"></a>
      </li>
    </ul>



                    <div class="row" style="margin-right: 40px;">
                        <a  style="color:white;" href="{% url 'login' %}">  <button class="btn btn-primary" style="width: 100px;"> Login</button></a>
                        <a  style="color:white;padding-left: 40px;" href="{% url 'register' %}"><button class="btn btn-primary" style="width: 100px; margin-left: 40px;">Register</button></a>
                    </div>




  </div>
</nav>
    <main role="main">
      {% block content %}{% endblock %}
    </main>
    <footer>
       <script language="javascript" type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{#       <script src="{% static 'js/app.js' %}"></script>#}
        {% block javascript %}{% endblock %}
   </footer>
</body>
</html>