{% extends 'ForgotPassword/basic.html' %}
{%load static %}
{% load staticfiles %}
{% block content %}

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'css/exp.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
          </head>
    <body>
        <br/>
        <p style="font-size: 26px;margin-top: 20px;">Your password has been set. You may go ahead and <a href="{% url 'login' %}">Login</a> now.
        </p>

{% endblock %}