{% extends 'ForgotPassword/basic.html' %}
{%load static %}
{% load staticfiles %}
{% block content %}

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'css/exp.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
          </head>
 <br/>
  <p style="font-size: 20px;margin-top: 20px;">
    We have sent an email with instructions for setting your password, If an account exists with the given email address you provided.
    You should receive them shortly.
  </p>
  <p style="font-size: 20px;margin-top: 20px;">
    If you don't receive an email, please make sure you've entered the correct email address you registered with,
    and also check your spam folder.
  </p>
{% endblock %}