<!DOCTYPE html>
{% load static %}
{% block content %}
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Invoice Based Loans</title>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style lang="css">

    div.ex1 {
      width: 440px;
      height: 500px;
      overflow: scroll;
    }
    button{
        border-radius: 12px;
        {#background-color: #005eb8;#}
        font-size: larger;
        font-weight: bold;
        height: 50px;
    }
</style>
</head>

<body style="background-color: #f5f5f5">
<nav class="navbar bg-faded " style="background-color: white;">
   <div class="container">

       <a style="padding-left: 40%;" href=""><img class="img-logo" src="https://uangteman.com/assets/frontend/statics/v4/images/rebranding/logo_rebranding.png" alt="Money friend"></a>
   </div>
 </nav>
{#  <h3 align="center">Terms and Conditions for Use of Website and UangTeman Application</h3>#}
  <form method="post" action="" style="position: relative;top: 20px;background-color:white;">
       {% csrf_token %}
<div class="ex1">

<h4 align="center">TERMS AND CONDITIONS OF USING THE SITE AND THE UANGTEMAN APPLICATION</h4>
{% comment %}<h3 align="center">NO. DAI / LEGAL / IV / 2018/256</h3>{% endcomment %}

Welcome to UangTeman. Thank you for visiting the Site and / or the UangTeman Application. Before accessing and / or using the Services contained in the Site and / or the UangTeman Application, make sure you carefully and carefully read the Terms and Conditions for Use of the Site and the UangTeman Application ( "Terms and Conditions" ) on this page.

By accessing and / or using the Services contained in the Site and / or the UangTeman Application, you agree that you have read, understood, accepted and agreed to these Terms and Conditions and agreed to be legally bound by these Terms and Conditions and other documents which is related to that. If you do not agree to these Terms and Conditions, please do not access and use the Services contained in the Site and the UangTeman Application.

We can change these Terms and Conditions at any time without prior notice. Decisions made based on these Terms and Conditions are absolute and inviolable.
<br/>
1. DEFINITION AND INTERPRETATION

In these Terms and Conditions, unless expressly stated otherwise, the expressions below have the following meanings: 
"You" are any prospective Lenders, prospective Loan Recipients, Loan Recipients, Lenders or users who use Site Services and / or UangTeman application. 
"Application" means the UangTeman mobile application for android and IOS applications that are operated and owned by us. 
"Cookie" means the file used by the UangTeman server to identify your computer. 
"FAQ" meansFrequently Asked Questionsthat is on the UangTeman Site. 
"Services" means information technology-based lending services through the Site and Application that brings together the Lenders with Loan Recipients held by UangTeman. 
"E-mail Service" means servicee-mail that we give to you, which can be accessed by sending e-mailto cs@uangteman.com . 
"Live Chat Service" means the live chat service that we provide to you, which can be accessed through our Site. 
"Telephone Service" means the telephone service that we provide to you, which can be accessed by calling number +6221 806 23000. 
"OJK" means the Financial Services Authority of the Republic of Indonesia. 
"Lender" means a company, institution, or individual that places funds in a UangTeman account to be distributed as a loan to the Borrower through the Site and / or Application. 
"Loan Recipients" means individuals who are Indonesian citizens. 
"Forcing Events"is an event when a situation or event is beyond the reasonable control of a party that affects the general public in the country or territory of that party, and which results in the party being unable to comply or perform obligations on time based on these Terms and Conditions. Such circumstances include industrial actions or labor disputes, civil unrest, war or threats of war, criminal or terrorist acts, government actions or regulations, telecommunications or utility failures, power outages, fires, explosions, physical natural disasters, epidemics, quarantine restrictions, and malfunction of public transportation. 
"Site" means the website www.uangteman.com , including all domains and sub-domains that are operated and owned by us.
"UangTeman" or "Kami" means PT Digital Alpha Indonesia which is established under the laws of the Republic of Indonesia as service providers.
    <br/>2. GENERAL TERMS OF USE

2.1 The services contained in the Site and / or this Application are intended for and used by: 
 (a) individual users aged at least 21 years and having the legal capacity, rights, power and authority required to agree to these Terms and Conditions; and 
  (b) individual users of Indonesian citizenship. 
UangTeman based on certain considerations can give approval to those of you who are less than 21 years old. 
2.2 You will use the Services contained on the Site and / or the Application only for legitimate purposes and not against the law.
2.3 All information, including but not limited to the personal data you provide is accurate and correct. 
2.4 Limits of loans through the Site and / or Application can be made in the amount of IDR 1,000,000 (one million Rupiah) up to IDR 3,000,000 (three million Rupiah) but if the prospective Loan Recipient meets certain requirements, we add a larger loan limit in accordance with other applicable terms and conditions. 
2.5 UangTeman does not collect any fees in connection with the application made by prospective Loan Recipients to apply for a loan.
2.6 Money Friends have the right to conduct due diligence on prospective Loan Recipients. During the process, UangTeman will contact relevant institutions, companies, or individuals to seek information, verify and confirm information related to prospective Borrowers, including (but not limited to) historical legal and credit records. Prospective Loan Recipients must give permission and power to UangTeman to do these things.
<br/>
3. THINGS RELATED TO PERSONAL DATA

3.1 GENERAL 
With this, you agree that UangTeman can collect, store, process, disclose information, access, review and / or use personal data (including sensitive personal information) about you, whether obtained through you or through other suitable sources with applicable law. 
For the purpose of verification,credit scoring, and / or Service analysis, We can open and / or disclose your personal data, either in part or in full to officially appointed third parties and are bound by a confidentiality agreement with Us. 
We ensure that all personal data sent by you through the Site and / or Application is properly protected and encrypted, including but not limited to the use of available SSL / TLS technology. 
UangTeman agrees to keep all personal data confidential and not to use this personal data for any purpose other than for providing loan facilities. 
However, this does not apply to:
(i) prevention of fraudulent actions and / or matters relating to anti money laundering and criminal acts of terrorism. 
(ii) personal data that is generally known to the public and at that time is not known through any violation of applicable law; 
(iii) such personal data is obtained legally by UangTeman without violating confidentiality from other sources; 
(iv) the personal data is required to be disclosed by law, government or authorized institution under the existing rules; 
(v) the personal data is disclosed in any litigation process; or
(vi) a person who acts as a lawyer, co-worker or what third party we authorize in accordance with legal provisions. 
By using the Service and accessing the Site and / or Application, you understand and agree that all forms of communication from UangTeman relating to the Service to You through the Site and / or the Application will be provided electronically either throughe-mail, telephone or published through the Site and / or Application. 
You agree to receive all documents, notifications and agreements electronically arising from the use of the Service through the Site and / or Application, including for Services as Lenders or as Loan Recipients. All your approval of every document, notification and agreement electronically arising from the use of the Service through the Site and / or Application is provided by making an electronic signature and is fully responsible and binding on you as a user of the Service through the Site and / or Application, either rights and obligations arising from the agreement. 
3.2 SPECIAL USERS OF TELKOMSEL NUMBER
Especially for Telkomsel number users, by registering yourself and agreeing to these Terms and Conditions, you give Telkomsel approval to provide verification of your personal data as one of the procedures for applying for a loan at UangTeman. 
3.3 SPECIAL SUBMISSION OF LOANS THROUGH APPLICATIONS 
With prior approval from prospective loan recipients, UangTeman through its electronic systems and devices can to store personal data (in the form ofe-mail, contact list, log call, the application isinstall it, browser history, the number of photos, information on the network of the loan applicant's device and others) of the prospective Loan Recipient from his cellular telephone device. The process of withdrawing personal data will help us to speed up the process of analysis and verification of personal data regarding loan applications from UangTeman.
<br/>4. ACCURACY OF PERSONAL DATA

4.1 You agree that by accessing the Site and / or Application and using the Services, you guarantee the authenticity and accuracy of the personal data that you provide through the Site and / or Application. The Personal Data that you provide is data that is true, accurate, complete, up-to-date and not misleading. 
4.2 You understand that you have an obligation to always: 
(a) renew and inform UangTeman of any personal data that changes, immediately after the change; and 
(b) maintainpasswordand your personal data; 
4.3 If UangTeman discovers, directly or later, that the personal data that you have provided to UangTeman is incorrect, suspected to be false and / or inaccurate, then UangTeman has the right to block your access to the Site and Application. You will be fully responsible for any damage and losses that arise or will arise, both material andimmaterial, for any inaccuracies in the personal data you provide.
<br/>5. COOKIES POLICY

This site uses Cookies, which you must agree to use to enjoy the full use of this Site. Cookieswhat we use will record which parts of this Site you visited and for how long. You have the right to refuse useCookies by configuring the webroam you. Please note that this configuration may interfere with some functions of this Site.
<br/>
6. THINGS RELATED TO INTELLECTUAL PROPERTY

6.1 The intellectual property rights of this Site and / or Application, including, but not limited to, copyright, patent rights, including trademarks for and on behalf of UangTeman are fully owned by and become fixed assets of UangTeman. 
6.2 You are permitted to view and copy-print on the contents of the paper provided by the Site and Application, but: 
(a) all such copies constitute intellectual property rights of UangTeman and third parties that we provide licenses; and 
(b) you do not change in any way paper copies of printed materials, including the removal of any copyright or other ownership contained in the Site and / or Application.
6.3 You agree that you will not use any part of this Site and Application to: 
(a) insert or intentionally or unintentionally transmit or spread viruses,worm, trojan horse, time bomb, trap dooror computer code, files, or programs or make repeated requests designed to interfere with, damage or limit the functionality of software, or computer hardware, or telecommunications equipment, or to reduce quality, interfere with the appearance of, or damage the functionality of this Site and Application ; 
(b) upload, install, sende-mailor otherwise accept, or attach links to any content that facilitates hacking data; 
(c) hacking anything that is part of this Site and Application; 
(d) upload, sende-mail, or send links to any content that violates the intellectual property rights of third parties; 
(e) circumvent or attempt to circumvent, any safeguards from the Site and Application; 
(f) allow any third party to do all of the above; 
(g) if you use content from this Site and Application but fail to fulfill these requirements, your right to use the Site and this Application will immediately be lost; 
(h) no links from other sites on this Site and Application may enter without our prior written permission. You have no right to name, modify, or redistribute content from this Site and Application without our permission.
<br/>7. OTHER DOCUMENTS THAT APPLY

7.1 In addition to these Terms and Conditions, the following matters also apply to your use of the Service through the Site and Friend Money Application: 
(a) Personal Loan Terms and Conditions; and 
(b) Other agreements with UangTeman that will govern your use of the Service. 
7.2 If there is a conflict between these Terms and Conditions and other agreements that apply to specific aspects of the Service, the other agreement applies in relation to specific aspects of the Service to which the agreement applies.
<br/>8. AMENDMENT TO TERMS AND CONDITIONS

8.1 UangTeman has the right to change the General Terms and Conditions at its sole discretion from time to time. All changes to these Terms and Conditions will apply immediately after UangTeman includes them on the Site and / or Application. 
8.2 You understand and agree that when you continue to use the Service through the Site and / or Application after making changes to these Terms and Conditions, you are subject to and bound to the new Terms and Conditions.
<br/>9. EXTENSION

If there are any terms or conditions in these Terms and Conditions as a whole or in part stated to any extent as invalid or cannot be carried out based on laws or legal regulations, the terms or conditions or parts up to that limit are not considered to be part of the Terms and Conditions this and the enforcement of the other terms and conditions in the Terms and Conditions will not be affected. Failure of UangTeman to carry out or carry out any rights or conditions of these Terms and Conditions does not constitute the waiver of such rights or conditions of the condition or any other circumstances.
<br/>
10. LIMITATION OF LIABILITY

10.1 UangTeman or its employees are not responsible and not entitled to provide compensation and when there is a violation of these Terms and Conditions, Loan Terms and Conditions, or other Agreement with UangTeman that will govern your use of the Service, caused by you.
10.2 You need to know that messages delivered through an internet connection cannot be guaranteed to be fully secure and can be held back, lost or subject to change. We are not responsible for messages that are lost, altered by third parties, or held back and we are not materially responsible to you or anyone for damage or other matters relating to messages sent by you to us or us to you through an internet connection.
<br/>11. EVENTS OF CONDITION OF USE

No party must be held responsible for any failure to carry out its obligations based on these Terms and Conditions if the failure is caused by a Forced State Event. Always with the provision that if possible, the affected party will continue the implementation of these obligations immediately after the Forcing Situation which causes the failure to stop or subside.
<br/>12. LOSS

You agree to release, release and indemnify UangTeman, its affiliates, its shareholders, directors, commissioners, employees, subcontractors, suppliers, agents of and for all forms of claims, claims, claims, losses, compensation, including legal consultant fees, which are caused by violation of these Terms and Conditions by you and other conditions set by UangTeman.
<br/>
13. TERMINATION

You agree that in the event of a violation that you have committed to the provisions of these Terms and Conditions or the applicable law, UangTeman may unilaterally and without notice first delete your account on the Site and Application, limit your access to the Site and Application, terminate Service to you. You agree that all losses are material or materialimmaterial arising from deleting your account and / or limiting your access as referred to above is entirely your responsibility.
<br/>
14. APPLICABLE LAW AND DISPUTE SETTLEMENT

These Terms and Conditions and any other non-contractual obligations arising from or in connection with them are governed by the laws of the Republic of Indonesia. 
You agree that any legal action or dispute that might arise due to the use of the Site and the Application will be finalized and decided in a final manner at the South Jakarta District Court.
<br/>
15. CONTACT US

For more information, you can visit our FAQ page or contact us via telephone service at +6221 806 23000, service live chat or service e-mailat contact@uangteman.com .

Disclaimer Risk
<br/>
1. Information Technology-Based Lending and Borrowing Service is a civil agreement between the Lender and the Loan Recipient, so that all risks arising from the agreement are borne entirely by each party. 
<br/>2. Credit risk or default is borne entirely by the Lender. There is no state institution or authority responsible for the risk of default.
<br/>3. The Operator with the approval of each User (Lender and / or Loan Recipient) accesses, obtains, saves, manages and / or uses the User's personal data ("Utilization of Data") on or inside objects, electronic devices (including smartphones or cellular telephone), hardware or software, electronic documents, applications or electronic systems owned by the User or controlled by the User, by notifying the purpose, Limitation and mechanism of Utilizing the Data to the User or controlled by the User, by notifying the destination , Limitation and mechanism for Utilizing the Data to the User concerned before obtaining the intended consent.
<br/>4. Lenders who do not have the knowledge and experience of lending and borrowing are advised not to use this service.
<br/>5. The loan recipient must consider the loan interest rate and other fees in accordance with the ability to repay the loan.
<br/>6. Every fraud is digitally recorded in cyberspace and can be known to the wider community on social media.
<br/>7. Users must read and understand this information before making a decision to become a Loan Provider or Loan Recipient.
<br/>8. The Government, in this case the Financial Services Authority, is not responsible for any violations or non-compliance by Users, both Lenders and Loan Recipients (either due to intentions or negligence of Users) to the provisions of laws and agreements or agreements between Organizers and Providers Loans and / or Loan Recipients.
<br/>9. Every loan lending transaction or activity or the implementation of an agreement regarding lending and borrowing or involving an Operator, Lender and / or Loan Recipient must be carried out through an escrow account and virtual account as required by the Financial Services Authority Regulation Number 77 / POJK.01 / 2016 concerning Information Technology-Based Lending and Borrowing Services and violations or non-compliance with these provisions constitute evidence of violations of law by the Operator so that the Operator must bear the compensation suffered by each User as a direct result of violation of the aforementioned law without reducing rights Users who suffer losses according to the Civil Code.
</div>
<button type="submit" class="btn btn-primary"> I Agree</button>
</form>
<br>


</body>
{% endblock %}